<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227797483252-7tcqhs3fqltob915ink112fl9psg08tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227797483252-7tcqhs3fqltob915ink112fl9psg08tn</string>
	<key>API_KEY</key>
	<string>AIzaSyBlVMMbG8WfwN5rKVPU33vdsjsekpYxpYo</string>
	<key>GCM_SENDER_ID</key>
	<string>227797483252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cashback</string>
	<key>PROJECT_ID</key>
	<string>cashfinish-383e3</string>
	<key>STORAGE_BUCKET</key>
	<string>cashfinish-383e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227797483252:ios:c955496459bce9b5aba8a1</string>
</dict>
</plist>